<ion-header>
  <ion-toolbar>
    <ion-title>
      Dojenje i ishrana
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img
      style="max-height:128px; max-width:64px;margin-left:auto;margin-right:auto;"
      src="https://i.pinimg.com/originals/d5/2f/a8/d52fa84d2dfb7b29e4866c22d7097ec6.jpg"
    />
    <ion-card-header>
      <ion-card-subtitle>Bebapedija</ion-card-subtitle>
      <ion-card-title>Dojenje i Ishrana</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Dojenje je bitna stvar i savetuje se da dojite svoju bebu što je duže
        moguće. Ovde ide neki drugi tekst
      </p>
    </ion-card-content>
  </ion-card>
  <ion-grid
    ><ion-row
      ><ion-col>Pretraga:</ion-col>
      <ion-col
        ><ion-input
          [(ngModel)]="searchTerm"
          outline
          placeholder="ukucajte pojam"
        ></ion-input></ion-col
    ></ion-row>
  </ion-grid>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Akcije:</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let fact of FilterItems()"
      ><a href>{{ fact.Action }}</a></ion-item
    >
  </ion-list>
</ion-content>
